OPENAI_API_KEY=<check_in_our_1password>
GOOGLE_CLIENT_SECRET=<check_in_our_1password>
GOOGLE_CLIENT_ID=<check_in_our_1password>

GITHUB_APP_ID=<check_in_our_1password>
GITHUB_APP_PRIVATE_KEY=<check_in_our_1password>
GITHUB_APP_SLUG=<check_in_our_1password>
GITHUB_CLIENT_ID=<check_in_our_1password>
GITHUB_CLIENT_SECRET=<check_in_our_1password>
GITHUB_WEBHOOK_SECRET=default_secret

OKTA_CLIENT_ID=<check_in_our_1password>
OKTA_CLIENT_SECRET=<check_in_our_1password>
OKTA_DOMAIN=<check_in_our_1password>

OXY_SLACK_CLIENT_ID=<check_in_our_1password>
OXY_SLACK_CLIENT_SECRET=<check_in_our_1password>
OXY_SLACK_SIGNING_SECRET=<check_in_our_1password>
OXY_SLACK_APP_BASE_URL=http://localhost:5173
OXY_SLACK_APP_LEVEL_TOKEN=<check_in_our_1password>
OXY_SLACK_ENABLED=true
OXY_SLACK_CHART_UPLOAD=true

# FROM 1password `ENV oxy local dev` file
