[workspace]
# TODO: switch back to default-members = ["crates/*"] once we migrated from release-please
members = ["crates/a2a", "crates/core", "crates/entity", "crates/migration", "crates/py", "crates/semantic", "crates/omni", "crates/globals"]

default-members = ["crates/core"]
resolver = "2"

[workspace.dependencies]
tokio = { version = "1.48", features = ["full"] }
chrono = "*"
sea-orm = { version = "1.1.19", features = [
  "sqlx-postgres",
  "sqlx-sqlite",
  "runtime-tokio-rustls",
  "macros",
  "with-chrono",
] }
sea-orm-migration = { version = "1.1.19", features = [
  "sqlx-postgres",
  "runtime-tokio-rustls",
  "with-uuid",
] }
log = { version = "0.4" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.147" }
serde_yaml = { version = "0.9.34" }
indexmap = { version = "2.12.1", features = ["serde"] }
thiserror = { version = "2.0.17" }
regex = { version = "1.12.2" }
minijinja = { version = "2.14.0" }
tracing = { version = "0.1.44" }
tempfile = { version = "3.24.0" }

[workspace.package]
# TODO: turn this on when https://github.com/googleapis/release-please/issues number 2111 is fixed
# version = "0.1.32"
edition = "2024"
rust-version = "1.92.0"
publish = false
description = "Oxy"
authors = ["oxy engineers"]
documentation = "https://docs.oxy.tech"
exclude = ["examples/", "tests/"]


[profile.ci]
inherits = "dev"
debug = false # reduces compilation time and resource usage by omitting debug symbols.
strip = true # reduces memory usage during linking
