[workspace]
# TODO: switch back to default-members = ["crates/*"] once we migrated from release-please
members = [
    "crates/a2a",
    "crates/agent",
    "crates/app",
    "crates/auth",
    "crates/core",
    "crates/entity",
    "crates/globals",
    "crates/migration",
    "crates/omni",
    "crates/project",
    "crates/semantic",
    "crates/shared",
    "crates/thread",
    "crates/workflow",
    "crates/infrastructure/llm/anthropic",
    "crates/infrastructure/llm/ollama",
    "crates/infrastructure/llm/gemini",
    "crates/infrastructure/llm/openai",
    "crates/infrastructure/llm/oxy-llm",
]

default-members = ["crates/app"]
resolver = "2"

[workspace.dependencies]
tokio = { version = "1.49", features = ["full"] }
chrono = "*"
sea-orm = { version = "1.1.19", features = [
  "sqlx-postgres",
  "runtime-tokio-rustls",
  "macros",
  "with-chrono",
] }
sea-orm-migration = { version = "1.1.19", features = [
  "sqlx-postgres",
  "runtime-tokio-rustls",
  "with-uuid",
] }
log = { version = "0.4" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.149" }
serde_yaml = { version = "0.9.34" }
indexmap = { version = "2.13.0", features = ["serde"] }
thiserror = { version = "2.0.18" }
regex = { version = "1.12.2" }
minijinja = { version = "2.15.1" }
tracing = { version = "0.1.44" }
tempfile = { version = "3.24.0" }
axum = { version = "0.8.8", features = ["macros", "http2"] }
async-openai = { version = "0.32.4" }
axum-server = { version = "0.8.0", features = ["tls-rustls"] }
sentry = { version = "0.46.1", features = ["tower-axum-matched-path", "rustls", "tracing"] }

[workspace.package]
# TODO: turn this on when https://github.com/googleapis/release-please/issues number 2111 is fixed
# version = "0.1.32"
edition = "2024"
rust-version = "1.93.0"
publish = false
description = "Oxy"
authors = ["oxy engineers"]
documentation = "https://oxy.tech/docs"
exclude = ["examples/"]


[profile.ci]
inherits = "dev"
debug = false # reduces compilation time and resource usage by omitting debug symbols.
strip = true # reduces memory usage during linking
