# ---------------------------------------------------------------------------------
# NOTE: Docker Compose is NOT necessary for the development process right now.
# This file is reserved for potential usage in the future.
# ---------------------------------------------------------------------------------

services:
  # NOTE: we recommend building the app outside of Docker for development purpose, as it is faster
  # oxy:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     target: runtime
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - oxy-data:/var/lib/oxy/data
  #     # Mount the examples folder as the working directory
  #     - ./examples:/app:rw
  #   env_file:
  #     - .env
  #   environment:
  #     - OXY_STATE_DIR=/var/lib/oxy/data
  #     # - OXY_DATABASE_URL=postgresql://admin:password@postgres:5432/default
  #   working_dir: /app
  #   depends_on:
  #     postgres:
  #       condition: service_healthy

  # clickhouse:
  #   image: clickhouse/clickhouse-server
  #   user: "101:101"
  #   container_name: clickhouse
  #   hostname: clickhouse
  #   environment:
  #     CLICKHOUSE_USER: default
  #     CLICKHOUSE_PASSWORD: password
  #     CLICKHOUSE_DB: default
  #   volumes:
  #     - clickhouse-data:/var/lib/clickhouse
  #   ports:
  #     - "8123:8123"
  #     - "9000:9000"
  #   restart: unless-stopped

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: default
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "admin", "-d", "default"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  # oxy-data:
  # clickhouse-data:
  postgres-data:
