@layer reset, base, tokens, recipes, utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --font-family-inter: "Inter", sans-serif;
  --font-family-geist-mono: "GeistMono", monospace;
}

body {
  font-family: var(--font-family-inter);
}

code,
pre {
  font-family: var(--font-family-geist-mono);
}

.react-flow__node {
  z-index: -1 !important;
}
