name: Changesets

on:
  workflow_call:
    outputs:
      oxy:
        value: ${{ jobs.changesets.outputs.oxy }}
      web-app:
        value: ${{ jobs.changesets.outputs.web-app }}
      docker:
        value: ${{ jobs.changesets.outputs.docker }}
      changes:
        value: ${{ jobs.changesets.outputs.changes }}

permissions:
  contents: write
  actions: read
  pull-requests: read

defaults:
  run:
    shell: bash

jobs:
  changesets:
    runs-on: ${{ github.repository == 'oxy-hq/oxy-internal' && 'ubuntu-slim' || 'ubuntu-latest' }}
    outputs:
      changes: ${{ steps.changes.outputs.changes }}
      oxy: ${{ steps.changes.outputs.oxy }}
      web-app: ${{ steps.changes.outputs.web-app }}
      docker: ${{ steps.changes.outputs.docker }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          base: ${{ github.ref_name }}
          filters: |
            oxy:
              - "crates/**"
              - "**/Cargo.toml"
              - "**/Cargo.lock"
            web-app:
              - "web-app/**"
              - "pnpm-lock.yaml"
            docker:
              - "Dockerfile*"
              - ".dockerignore"
              - "docker-compose.yml"
